{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
              <h6 class="mb-0 ">Error</h6>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
